body {
  background-color: #6973ff;
}

.menu {
  background-color: #FFF;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title,
.site-subtitle {
  text-align: center;
  color: whitesmoke;
}

.site-subtitle {
  font-style: italic;
}